extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main  
    +alert-success(2000)

    .product-detail-modern
        .container.my-5
            .back-navigation.mb-4
                a(href="javascript:history.back()" class="btn-back")
                    i.bi.bi-arrow-left
                    span Quay lại

            .row.g-5
                .col-12.col-lg-6
                    .product-gallery
                        .main-image
                            img(src=product.thumbnail, alt=product.title, id="mainImage")
                            if(product.featured == "1")
                                .badge-featured-detail
                                    i.bi.bi-star-fill
                                    | Nổi bật
                            if(product.discountPercentage > 0)
                                .badge-discount-detail -#{product.discountPercentage}%
                        
                .col-12.col-lg-6
                    .product-info
                        if(product.category)
                            .product-category
                                a(href=`/products/${product.category.slug}`) #{product.category.title}
                        
                        h1.product-name #{product.title}
                        
                        .product-price-section
                            -const priceNew = Math.round(product.price * (1 - product.discountPercentage / 100));
                            .price-current #{priceNew.toLocaleString()}₫
                            if(product.price > priceNew)
                                .price-original #{Math.round(product.price).toLocaleString()}₫
                                .price-save Tiết kiệm #{((product.price - priceNew)).toLocaleString()}₫ (#{product.discountPercentage}%)
                        
                        .product-stock-status
                            if(product.stock > 0)                
                                .stock-badge.stock-low
                                    i.bi.bi-exclamation-circle
                                    span Hiện còn #{product.stock} sản phẩm
                               
                            else
                                .stock-badge.stock-out
                                    i.bi.bi-x-circle
                                    span Hết hàng
                        
                        .divider

                        if(user)
                            if(product.stock > 0)
                                form.product-actions-form(
                                    action=`/cart/add/${product.id}`
                                    method="POST"
                                )
                                    .quantity-selector
                                        label.quantity-label Số lượng:
                                        .quantity-input-group
                                            button.quantity-btn(type="button", onclick="decreaseQuantity()")
                                                i.bi.bi-dash
                                            input.quantity-input(
                                                type="number"
                                                name="quantity"
                                                value="1"
                                                min="1"
                                                max=product.stock
                                                id="quantityInput"
                                            )
                                            button.quantity-btn(type="button", onclick="increaseQuantity()")
                                                i.bi.bi-plus
                                    
                                    .action-buttons
                                        button.btn-add-to-cart(type="submit")
                                            i.bi.bi-cart-plus
                                            span Thêm vào giỏ hàng
                            else
                                .out-of-stock-notice
                                    i.bi.bi-exclamation-triangle
                                    span Sản phẩm hiện đang hết hàng
                        else
                            .login-notice
                                i.bi.bi-info-circle
                                | Vui lòng 
                                a(href="/user/login") đăng nhập
                                |  để mua hàng

            .row.mt-5
                .col-12
                    .product-description-section
                        .section-header
                            h2.section-title Mô tả sản phẩm
                        .section-content
                            .description-content !{product.description}

    script.
        function increaseQuantity() {
            const input = document.getElementById('quantityInput');
            const max = parseInt(input.max);
            const current = parseInt(input.value);
            if (current < max) {
                input.value = current + 1;
            }
        }
        
        function decreaseQuantity() {
            const input = document.getElementById('quantityInput');
            const min = parseInt(input.min);
            const current = parseInt(input.value);
            if (current > min) {
                input.value = current - 1;
            }
        }

                     

          
            
                        