extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main  
    +alert-success(5000)
    +alert-error(5000)
    
    .container.my-3     
        .row  
            .col-12 
                +box-head("Đặt hàng")

        .row 
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT
                            th Ảnh
                            th Tên
                            th Giá
                            th Số lượng
                            th Tổng tiền
                            
                    tbody 
                        if(cartDetail.products.length > 0)
                            each item,index in cartDetail.products
                                tr
                                    td #{index+1}
                                    td 
                                        img(src=item.productInfo.thumbnail , alt="" width="80px")
                                    
                                    td #{item.productInfo.title}
                                    td #{item.productInfo.priceNew}$
                                    td #{item.quantity}
                                    td #{item.totalPrice}$
                        else
                            tr 
                                td(
                                    colspan="7"
                                    class="text-center"
                                ) Giỏ hàng trống

                if(cartDetail.products.length > 0)                
                    h3(class="text-right") 
                        if(order && order.rushOrder)
                            div(class="mb-2") Phí giao hàng nhanh (5%):
                                span(class="text-success") #{order.rushOrder}$
                        div Tổng đơn hàng:
                            span(class="text-success") #{cartDetail.totalPrice}$

        if(cartDetail.products.length > 0)
            .row 
                .col-12 
                    .card.p-4.my-4 
                        div(class="text-dark") 
                            h2 <b> Thông tin đơn hàng</b>
                        form(
                            action="/checkout/realPayment"
                            method="POST"
                            id="checkout-form"
                        )
                            div(class="form-group")
                                label(for="fullName") Họ tên 
                                input(
                                    type="text"
                                    class="form-control"
                                    id="fullName"
                                    name="fullName"
                                    value= order.userInfo ? order.userInfo.fullName : ""
                                    required
                                ) 
                            div(class="form-group")
                                label(for="phone") Số điện thoại 
                                input(
                                    type="text"
                                    class="form-control"
                                    id="phone"
                                    name="phone"
                                    value= order.userInfo ? order.userInfo.phone : ""
                                    required
                                ) 
                            div(class="form-group")
                                label(for="address") Địa chỉ
                                input(
                                    type="text"
                                    class="form-control"
                                    id="address"
                                    name="address"
                                    value= order.userInfo ? order.userInfo.address : ""
                                    required
                                )
                            div(class="form-group")
                                label(for="paymentMethod") 
                                   span(class="text-success") Phương thức thanh toán
                                select(
                                    class="form-control"
                                    id="paymentMethod"
                                    name="paymentMethod"
                                    required
                                )
                                    if(order.paymentMethod === "COD")
                                        option(value="COD" selected="selected") Thanh toán khi nhận hàng (COD)
                                        option(value="VNPAY") Thanh toán qua VNPay                   
                                    else if(order.paymentMethod === "VNPAY")
                                        option(value="VNPAY" selected="selected") Thanh toán qua VNPay                   
                                        option(value="COD") Thanh toán khi nhận hàng (COD)                   
                                    else
                                        option(value="" disabled="disabled" selected="selected" ) -- Chọn phương thức thanh toán --
                                        option(value="COD") Thanh toán khi nhận hàng (COD)
                                        option(value="VNPAY") Thanh toán qua VNPay
                            div(class="form-group")
                                label(for="isPlaceRushOrder") 
                                   span(class="text-success") Giao hàng nhanh? (Mặc định áp dụng 5% phí cơ bản )
                                select(
                                    class="form-control"
                                    id="isPlaceRushOrder"
                                    name="isPlaceRushOrder"
                                    required
                                )
                                    if(order.isPlaceRushOrder)                                      
                                        option(value="yes" selected="selected") Có 
                                        option(value="no" ) Không
                                    else                              
                                        option(value="no" selected="selected") Không
                                        option(value="yes") Có 
                           
                            
                                    
                           
                            
                            
                            
                            div(class="form-group mt-3")
                                button(
                                    type="submit"
                                    class="btn btn-success btn-block"
                                ) ĐẶT HÀNG

    script.
        document.getElementById('checkout-form').addEventListener('submit', function(e) {
            e.preventDefault();
            
            const paymentMethod = document.getElementById('paymentMethod').value;
           

            if(paymentMethod === 'VNPAY') {
                // Chuyển hướng đến trang thanh toán VNPay
                window.location.href = '/checkout/create_payment_url';
            } else {
                // Gửi form bình thường cho COD
                this.submit();
            }
        });
        
    script(src="/js/script.js")  