extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main  
    .container.my-3     
        .row  
            .col-12 
               
        .row 
            .col-12 
                div(class="alert alert-success text-center p-4")
                    i(class="fas fa-check-circle fa-3x mb-3")
                    h4(class="alert-heading mb-3") Đặt hàng thành công!
                    p(class="mb-0") Chúc mừng bạn đã đặt hàng thành công! Chúng tôi sẽ xử lí đơn hàng trong thời gian sớm nhất

        if(order)
            .row.mt-4
                .col-12 
                    .card.shadow-sm                        
                        h5(class="order_information_design")
                            i(class="fas fa-user-circle me-2")
                            | Thông tin cá nhân 
                        .card-body
                            table(class="table table-striped mb-0")
                                tbody 
                                    tr 
                                        td Họ tên 
                                        td 
                                            b #{order.userInfo.fullName}
                                    tr 
                                        td Số điện thoại 
                                        td 
                                            b #{order.userInfo.phone}
                                    tr 
                                        td Địa chỉ
                                        td 
                                            b #{order.userInfo.address}
                                    tr 
                                        td Giao hàng nhanh
                                        td 
                                            b #{order.isPlaceRushOrder ? "Có" : "Không"}
                                    tr 
                                        td Phương thức thanh toán
                                        td 
                                            b #{order.paymentMethod}
            
            .row.mt-4
                .col-12 
                    .card.shadow-sm                
                        h5(class="order_information_design")
                            i(class="fas fa-shopping-cart me-2")
                            | Thông tin đơn hàng
                        .card-body
                            table(class="table table-bordered table-hover")
                                thead(class="table-light") 
                                    tr 
                                        th STT
                                        th Ảnh
                                        th Tên
                                        th Giá
                                        th Số lượng
                                        th Tổng tiền
                                tbody 
                                    if(order.products.length > 0)
                                        each item,index in order.products 
                                            tr 
                                                td(class="align-middle") #{index+1}
                                                td(class="align-middle") 
                                                    img(
                                                        src=item.productInfo.thumbnail 
                                                        alt=item.productInfo.title
                                                        width="80px"
                                                        class="img-thumbnail"
                                                    )
                                                td(class="align-middle")  #{item.productInfo.title}
                                                td(class="align-middle")  #{item.priceNew}$
                                                td(class="align-middle text-center")  #{item.quantity}
                                                td(class="align-middle text-end")  #{item.totalPrice}$

                            if(order.products.length > 0)
                                .card-footer.bg-white
                                    h4(class="text-right mb-0") 
                                        | Tổng đơn hàng: 
                                        span(class="text-success") #{order.totalPrice}$
    //- Sau khi đặt hàng thành công thì quay về trang chủ
    button(class="btn btn-info" onclick="window.location.href='/'") Quay về trang chủ


        