.sider   
  .inner-menu 
    ul 
        li 
            a(href= `${prefixAdmin}/dashboard`)
                                span(data-lucide="layout-dashboard" class="mr-2")
                                span(class="text-white") Tổng quan

        if(role.permissions.includes("products-category_view"))
            li 
                a(href= `${prefixAdmin}/products-category`)
                    span(data-lucide="tags" class="mr-2")
                    span(class="text-white") Danh mục sản phẩm

        if(role.permissions.includes("products_view"))
            li 
                a(href= `${prefixAdmin}/products`)
                    span(data-lucide="box" class="mr-2")
                    span(class="text-white") Danh sách sản phẩm

        if(role.permissions.includes("roles_view"))
            li 
                a(href= `${prefixAdmin}/roles`)
                    span(data-lucide="users" class="mr-2")
                    span(class="text-white") Nhóm quyền

        if(role.permissions.includes("roles_permissions")) 
            li 
                a(href= `${prefixAdmin}/roles/permissions`)
                    span(data-lucide="shield" class="mr-2")
                    span(class="text-white") Phân quyền

        if(role.permissions.includes("accounts_view"))
            li 
                a(href= `${prefixAdmin}/accounts`)
                    span(data-lucide="id-card" class="mr-2")
                    span(class="text-white") Tài khoản quản trị

        if(role.permissions.includes("orders_view"))
            li 
                a(href= `${prefixAdmin}/orders`) 
                    span(data-lucide="shopping-bag" class="mr-2")
                    span(class="text-white") Đơn hàng
