extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug

block main 
    +alert-success(10000)
    +alert-error(10000)

    .container-fluid.my-3(style="max-width: 80%;") 
        .row 
            .col-12 
                +box-head("Chờ lấy hàng")
        button(
                class= "btn btn-secondary"
                onclick= "window.location.href='/order'"
            ) Trở lại
                    

        .row 
            .col-12 
                .table-responsive(style="max-height: 600px; overflow-y: auto; max-width: 100%;")
                    table(class="table table-bordered table-hover")
                        thead 
                            tr 
                                th(style="text-align: center;") STT
                                th(style="text-align: center;") Ảnh
                                th(style="text-align: center;") Tên sản phẩm
                                th(style="text-align: center;") Giá
                                th(style="text-align: center;") Số lượng
                                th(style="text-align: center;") Phương thức thanh toán
                                th(style="text-align: center;") Giao hàng nhanh ? 
                                th(style="text-align: center;") Tổng tiền
                                th(style="text-align: center;") Ngày đặt hàng
                                th(style="text-align: center;") Trạng thái
                                th(style="text-align: center;") Hành động
                        tbody 
                            each item, index in orders
                                - const rowSpan = item.products.length
                                each product, productIndex in item.products
                                    tr 
                                        if productIndex === 0
                                            td(rowspan=rowSpan) #{index + 1}
                                        td
                                            img(
                                                src=product.thumbnail
                                                alt=product.title
                                                width="80px"
                                                height="80px"
                                                style="object-fit: cover;"
                                            )
                                        td #{product.title}
                                        td(style="text-align: center;") #{product.priceNew}$
                                        td(style="text-align: center;") #{product.quantity}
                                        if productIndex === 0
                                            td(rowspan=rowSpan style="text-align: center;") #{item.paymentMethod}
                                            td(rowspan=rowSpan style="text-align: center;") #{item.isPlaceRushOrder ? "Có" : "Không"}
                                            td(rowspan=rowSpan style="text-align: center;") #{item.totalPrice}$
                                            td(rowspan=rowSpan style="text-align: center;") 
                                                +formatDateTime(item.createdAt)
                                            td(rowspan=rowSpan style="text-align: center; color: #007bff;") #{item.status}
                                            td(rowspan=rowSpan)
                                                if(item.status === "Delivering")
                                                    a(
                                                    href="javascript:;"
                                                    data-status= item.status
                                                    data-id= item.id  
                                                    button-change-order-status
                                                    class="badge badge-success"
                                                )  Đã nhận hàng
                                                if(item.status === "Processing")
                                                    a(
                                                    href="javascript:;"
                                                    data-status= item.status
                                                    data-id= item.id 
                                                    button-change-order-status 
                                                    class="badge badge-danger"
                                                )  Hủy đơn hàng  
                                                
                                                //- a(href=`/order/cancel/${item.id}`).btn.btn-danger Hủy bỏ
        form(
            action=""
            method="POST"
            id="form-change-order-status"
            data-path= `/order/change-status`
        ) 
        
    script(src="/js/script.js")   




