//- footer.footer 
//-     | #{settingGeneral.copyright}

footer.footer.bg-dark.text-white.pt-5.pb-4
    .container
        .row
            .col-lg-3.col-md-6.mb-4.mb-md-0
                h5.fw-bold.mb-4 About Us
                p.text-white-50
                    | #{settingGeneral.websiteName} - Your trusted destination for quality fashion. We provide the best products with excellent customer service.
                .social-links.mt-3
                    a.text-white.me-3(href="https://facebook.com/" target="_blank")
                        i.bi.bi-facebook.fs-4
                    a.text-white.me-3(href="https://instagram.com/" target="_blank")
                        i.bi.bi-instagram.fs-4
                    

            .col-lg-3.col-md-6.mb-4.mb-md-0
                h5.fw-bold.mb-4 Quick Links
                ul.list-unstyled
                    li.mb-2
                        a.text-white-50.text-decoration-none(href="/") Home
                    li.mb-2
                        a.text-white-50.text-decoration-none(href="/products") Products
                    li.mb-2
                        a.text-white-50.text-decoration-none(href="/") About Us
                    li.mb-2
                        a.text-white-50.text-decoration-none(href="/") Contact

            .col-lg-3.col-md-6.mb-4.mb-md-0
                h5.fw-bold.mb-4 Customer Service
                ul.list-unstyled
                    li.mb-2
                        a.text-white-50.text-decoration-none(href="/") Shipping Policy
                    li.mb-2
                        a.text-white-50.text-decoration-none(href="/") Returns & Exchanges
                    li.mb-2
                        a.text-white-50.text-decoration-none(href="/") FAQ
                    li.mb-2
                        a.text-white-50.text-decoration-none(href="/") Privacy Policy

            .col-lg-3.col-md-6.mb-4.mb-md-0
                h5.fw-bold.mb-4 Contact Info
                ul.list-unstyled
                    li.mb-2
                        i.bi.bi-geo-alt.me-2
                        |  : #{settingGeneral.address}
                    li.mb-2
                        i.bi.bi-telephone.me-2
                        |  : #{settingGeneral.phone}
                    li.mb-2
                        i.bi.bi-envelope.me-2
                        |  : #{settingGeneral.email}
                   

        hr.my-4.bg-light
        .row
            .col-md-6.text-center.text-md-start
                p.mb-0.text-white-50
                    | © 2024 #{settingGeneral.websiteName}. All rights reserved.
            .col-md-6.text-center.text-md-end
                p.mb-0.text-white-50
                    | This is a demo e-commerce website. All products and contact details are fictional.
body
html
