include ../mixins/sub-menu.pug

header.header
    .container 
        .row.align-items-center   
            .col-2
                .inner-logo 
                    a(href="/")
                        img(src= settingGeneral.logo, alt="Logo")                   
           
            .col-2
                .inner-menu 
                    ul.d-flex.align-items-center.list-unstyled.mb-0.gap-3
                        li 
                            a(href="/", class="text-decoration-none text-white") Trang chủ
                        li(class="sub-menu")
                            -const pathProduct = "/products";
                            a(href=pathProduct, class="text-decoration-none text-white") Sản phẩm 
                                +sub-menu(layoutProductsCategory, pathProduct)

            .col-3
                form(
                    action="/search"
                    method="GET"
                    class="d-flex"
                )
                    div(class="form-group d-flex mb-0 w-100")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-success"
                        ) Tìm 

            .col-5
                    if(user)
                       
                        a(href="/chat", class="chat_design btn btn-light") Chat   
                    
                        a(href="/order/history", class="order_history_design btn btn-light") Lịch sử đặt hàng    
                    
                        a(href="/cart", class="cart_design btn btn-light") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : "0" })        
                    
                        a(href="/user/logout", class="logout_design btn btn-light") Đăng xuất 

                        a(href="/user/info", class="user_design btn btn-light") #{user.fullName}     
                    
                    else
                        .auth-buttons.d-flex.justify-content-end.gap-2
                            a(href="/user/register", class="register_design text-decoration-none text-dark") Đăng ký
                            a(href="/user/login", class="login_design text-decoration-none text-dark") Đăng nhập

  
        
                        
                        