include ../mixins/sub-menu.pug

header.header
    .container 
        .row.align-items-center   
            .col-2
                .inner-logo 
                    a(href="/")
                        img(src= settingGeneral.logo, alt="Logo")                   
           
            .col-2
                .inner-menu 
                    ul.d-flex.align-items-center.list-unstyled.mb-0.gap-3
                        li 
                            a(href="/", class="text-decoration-none text-white") Trang chủ
                        li(class="sub-menu")
                            -const pathProduct = "/products";
                            a(href=pathProduct, class="text-decoration-none text-white") Sản phẩm 
                                +sub-menu(layoutProductsCategory, pathProduct)

            .col-3
                form(
                    action="/search"
                    method="GET"
                    class="d-flex"
                )
                    div(class="form-group d-flex mb-0 w-100")
                        .input-group
                            input.form-control(
                                type="text",
                                placeholder="Nhập từ khóa...",
                                class="form-control",
                                name="keyword",
                                value=keyword,
                                aria-label="Search"
                            )
                            .input-group-append
                                button.btn.btn-success(type="submit")
                                    i.bi.bi-search.mr-1
                                    | Tìm kiếm

            .col-5
                    if(user)
                       
                        a(href="/users/friends", class="option_design btn btn-light") Bạn bè   

                        a(href="/rooms-chat", class="option_design btn btn-light") Phòng chat  
                    
                        a(href="/order/history", class="option_design btn btn-light") Lịch sử đặt hàng    
                    
                        a(href="/user/logout", class="option_design btn btn-light") 
                            i.bi.bi-box-arrow-right.mr-1
                            | Đăng xuất 

                        a(href="/cart", class="option_design btn btn-light") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : "0" })        
            
                        a(href="/user/info", class="option_design btn btn-light") #{user.fullName}     
                    
                    else
                        .auth-buttons.d-flex.justify-content-end.gap-2
                            a(href="/user/register", class="register_design text-decoration-none text-dark") Đăng ký
                            a(href="/user/login", class="login_design text-decoration-none text-dark") Đăng nhập

  
        
                        
                        