include ../mixins/sub-menu.pug

header.header
    .container-fluid
        .row.align-items-center.h-100
            .col-auto
                .inner-logo 
                    a(href="/")
                        img(src= settingGeneral.logo, alt="Logo")
            
            .col
                .header-search
                    form(
                        action="/search"
                        method="GET"
                        class="search-form"
                    )
                        .search-box
                            i.bi.bi-search.search-icon
                            input(
                                type="text",
                                placeholder="Tìm kiếm sản phẩm...",
                                name="keyword",
                                value=keyword,
                                class="search-input"
                            )
                            button.search-btn(type="submit")
                                i.bi.bi-arrow-right

            .col-auto
                .header-nav
                    ul.nav-list
                        li.nav-item
                            a(href="/", class="nav-link", title="Trang chủ")
                                i.bi.bi-house-fill
                                span.nav-text Trang chủ

                        li.nav-item.sub-menu
                            -const pathProduct = "/products";
                            a(href=pathProduct, class="nav-link", title="Sản phẩm")
                                i.bi.bi-bag-fill
                                span.nav-text Sản phẩm
                            +sub-menu(layoutProductsCategory, pathProduct)

                        if(user)
                            li.nav-item
                                a(href="/cart", class="nav-link cart-link", title="Giỏ hàng")
                                    i.bi.bi-cart-fill
                                    span.nav-text Giỏ hàng
                                    if miniCart && miniCart.totalQuantity > 0
                                        .cart-badge #{miniCart.totalQuantity}

                            li.nav-item
                                a(href="/users/friends", class="nav-link", title="Bạn bè")
                                    i.bi.bi-people-fill
                                    span.nav-text Bạn bè

                            li.nav-item
                                a(href="/rooms-chat", class="nav-link", title="Chat")
                                    i.bi.bi-chat-dots-fill
                                    span.nav-text Chat

                            li.nav-item.dropdown-user
                                a(href="/user/info", class="nav-link user-link", title=user.fullName)
                                    i.bi.bi-person-circle
                                    span.nav-text #{user.fullName}
                                .dropdown-menu
                                    a(href="/user/info") Thông tin tài khoản
                                    a(href="/order") Đơn hàng
                                    a(href="/user/logout") Đăng xuất

                        else
                            li.nav-item
                                a(href="/user/login", class="nav-link login-link")
                                    i.bi.bi-box-arrow-in-right
                                    span.nav-text Đăng nhập

                            li.nav-item
                                a(href="/user/register", class="nav-link register-link")
                                    i.bi.bi-person-plus
                                    span.nav-text Đăng ký

  
        
                        
                        