mixin pagination(pagination)
     nav 
        ul(class= "pagination")
            li(class = "page-item")
                button(
                    class= "page-link"
                    button-pagination= 1
                ) Trang đầu
            if(pagination.currentPage > 1)
                li(class = "page-item")
                    button(
                        class= "page-link"
                        button-pagination= pagination.currentPage-1
                    ) Trang trước


            - for (var i = pagination.currentPage - 1; i <= pagination.currentPage + 1 ; i++) 
                if(i != 0 && i != pagination.totalPage + 1 )                       
                    li(class = "page-item " + ( pagination.currentPage == i ? "active" : "" ) )           
                            button(
                                class= "page-link"
                                button-pagination= i 
                            ) Trang #{i}

            if(pagination.currentPage < pagination.totalPage )
                li(class = "page-item")
                    button(
                        class= "page-link"
                        button-pagination= pagination.currentPage+1
                    ) Trang kế tiếp
            
            li(class = "page-item")
                button(
                    class= "page-link"
                    button-pagination= pagination.totalPage
                ) Trang cuối