mixin table-tree(items, level = 1)
  each item in items
    - const prefix = Array(level + 1).join("-- ")
    tr.text-center.align-middle
      td 
        input(
          type="checkbox"
          name="id"
          value=item.id
        )
      td #{item.index}
      td 
        img(
          src=item.thumbnail 
          alt=item.title 
          width="100px" 
          height="auto"
        )
      td.text-left #{prefix}#{item.title}

      td
        input(
          type="number"
          value=item.position 
          style="width: 60px"
          min="1"
          name="position"
        )

      td
        if role.permissions.includes("products-category_edit")
          if item.status == "active"
            span.badge.badge-success
              i.bi.bi-check-circle-fill.mr-1
              | Hoạt động
          else
            span.badge.badge-danger
              i.bi.bi-x-circle-fill.mr-1
              | Dừng hoạt động
        else
          | #{item.status}

      td
        - const updatedBy = item.updatedBy.slice(-1)[0];
        if updatedBy
          p.mb-0 #{updatedBy.accountFullName}
          p.text-muted.mb-0
            +formatDateTime(updatedBy.updatedAt)

      td
        a.btn.btn-secondary.btn-sm.mr-1(
          href=`${prefixAdmin}/products-category/detail/${item.id}`
        )
          i.bi.bi-eye-fill
        if role.permissions.includes("products-category_edit")
          a.btn.btn-warning.btn-sm.mr-1(
            href=`${prefixAdmin}/products-category/edit/${item.id}`
          )
            i.bi.bi-pencil-fill
        if role.permissions.includes("products-category_delete")
          button.btn.btn-danger.btn-sm(
            button-delete 
            data-id=item.id
          )
            i.bi.bi-trash-fill

    if item.children && item.children.length > 0
      +table-tree(item.children, level + 1)
